@import "/reset.css";
.flex {
  display: flex;
  flex-wrap: wrap;
}

.just-s {
  justify-content: space-between;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  min-width: 1000px;
  height: 110px;
  background-color: #FFF;
  align-items: center;
}
header h1 {
  padding: 0 40px;
}
header nav {
  font-size: 17px;
  color: #292929;
  width: -moz-fit-content;
  width: fit-content;
}
header nav ul {
  width: 100%;
  flex: 1;
}
header nav ul li.main-menu {
  position: relative;
  text-align: left;
  padding: 15px 40px;
}
header nav ul li.main-menu a {
  width: 100%;
  display: block;
}
header nav ul li.main-menu ul.sub-menu {
  position: absolute;
  z-index: 99;
  width: 100%;
  padding: 0 10px;
  top: 80px;
  left: 0;
  display: none;
  padding: 10px;
  border-top: 5px solid #f47a20;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.09);
}
header nav ul li.main-menu ul.sub-menu li {
  border-bottom: 1px solid #e8e8e8;
  line-height: 35px;
  font-size: 13px;
  color: #848484;
  text-indent: 6px;
  text-align: left;
  cursor: pointer;
}

section {
  border: 1px solid #000;
}
section.sect1 {
  height: 100vh;
  background-image: url(./image/bg_visual.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
section.sect1 .sect1-txt {
  font-size: 50px;
  line-height: 78px;
  letter-spacing: 0.56em;
  color: #fff;
  width: 100%;
  padding-top: 220px;
  text-align: center;
}
section.sect1 .sect1-txt h2 {
  width: 370px;
  height: 44px;
  margin: 0 auto 15px;
  background: url(./image/bracket_title.png) center no-repeat;
  font-size: 20px;
  line-height: 44px;
  letter-spacing: 0.64em;
  color: #fff;
}
section.sect1 em {
  background: url(./image/underline_title.png) bottom right no-repeat;
  color: #f47a20;
}
section.sect2 {
  height: 100vh;
  position: relative;
}
section.sect2 .swiper {
  width: 100%;
  height: 100%;
}
section.sect2 .swiper .swiper-wrapper {
  height: 100%;
}
section.sect2 .swiper-slide {
  background-position: center;
  background-size: cover;
}
section.sect2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.sect2 .menu {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 999;
}
section.sect2 .menu a.home {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #f47a20;
}
section.sect2 .menu ul li {
  text-align: center;
  border: 1px solid #000;
  color: #b6b6b6;
  height: 100px;
  background: rgba(0, 0, 0, 0.8);
}
section.sect2 .menu ul li a {
  opacity: 0.7;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
section.sect2 .menu ul li.on a {
  color: #f47a20;
}
section.sect2 .txt {
  position: absolute;
  top: 10%;
  left: 20%;
  color: #fff;
  z-index: 999;
}
section.sect2 .txt h2 {
  width: 162px;
  height: 23px;
  background: url(./image/point_pf_title.png) left center no-repeat;
  font-size: 28px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
}
section.sect2 .txt h3 {
  padding: 45px 0 30px 0;
  font-family: "notoR";
  font-size: 30px;
  line-height: 40px;
  opacity: 1;
  letter-spacing: 0.04em;
}
section.sect2 .txt p {
  font-size: 14px;
  line-height: 23px;
  font-family: "notoL";
  opacity: 0.7;
  letter-spacing: 0.02em;
}
section.sect3 {
  height: 530px;
}
section.sect3 .left {
  float: left;
  width: 35%;
  height: 530px;
  background-image: url(./image/bg_bnr_1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section.sect3 .left .left-txt {
  color: #fff;
  position: absolute;
  margin: 75px 0 0 50px;
  z-index: 100;
}
section.sect3 .left .left-txt h2 {
  padding-top: 10px;
  background: url(./image/point_bnr_1.jpg) top left no-repeat;
  padding: 20px 0;
  font-size: 40px;
  line-height: 49px;
}
section.sect3 .left .left-txt p {
  font-size: 14px;
  line-height: 22px;
  color: #929292;
}
section.sect3 .product {
  position: absolute;
}
section.sect3 .right {
  float: left;
  width: 65%;
  height: 530px;
  background-image: url(./image/bg_bnr_2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
section.sect3 .right .right-txt {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
}
section.sect3 .right .right-txt h3 {
  padding: 130px 0 30px 0;
  font-size: 34px;
  line-height: 59px;
}
section.sect3 .right .right-txt h3 em {
  font-size: 45px;
}
section.sect3 .right .right-txt p {
  font-size: 14px;
  line-height: 23px;
  color: #929292;
}
section.sect3 .right .right-txt .btn {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
section.sect3 .right .right-txt .btn li {
  padding: 0 20px;
  border: 1px solid #fff;
  font-size: 14px;
  line-height: 35px;
  opacity: 0.7;
  cursor: pointer;
}
section.sect3 .right .right-txt .btn li:nth-child(1) {
  margin-right: 5px;
}

footer {
  display: flex;
  height: 450px;
  position: relative;
  width: 100%;
  min-width: 1000px;
  background-color: #f3f1f4;
  overflow: hidden;
  padding: 60px 50px;
  border-bottom: 1px solid #e3e1e4;
  box-sizing: border-box;
}
footer .shortcut {
  padding-right: 60px;
  margin-right: 60px;
  border-right: 1px solid #e3e1e4;
}
footer .shortcut h5 {
  font-family: "notoM";
  font-size: 22px;
  line-height: 26px;
  color: #2c2c2c;
  letter-spacing: 0.02em;
}
footer .shortcut h5 span {
  font-family: "notoR";
  font-size: 18px;
  color: #6c6c6c;
  letter-spacing: 0;
}
footer .shortcut .tel {
  padding-top: 15px;
  font-size: 34px;
  line-height: 35px;
  color: #2c2c2c;
}
footer .shortcut .tel span {
  font-size: 22px;
}
footer .shortcut .email {
  padding: 10px 0 20px 0;
  font-size: 14px;
  line-height: 14px;
  color: #6c6c6c;
  letter-spacing: 0.06em;
}
footer .btn_links li {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-color: #343235;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
footer .copyright {
  width: 80 footer .copyright;
}
footer .copyright .woodam {
  margin-bottom: 50px;
}
footer .copyright .locate {
  margin-bottom: 30px;
}
footer .link {
  width: 220px;
  height: 220px;
  background-color: #FFF;
}
footer .link ul {
  overflow: hidden;
  position: relative;
  width: 220px;
  height: 220px;
}
footer .link ul li {
  float: left;
  width: 220px;
  height: 220px;
  cursor: pointer;
}
footer .link ul li .txtArea {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 220px;
  height: 220px;
  text-align: center;
}
footer .link ul li .txtArea .subject {
  display: inline-block;
  padding: 0 10px;
  margin: 30px 0 20px 0;
  border: 1px solid #3d3d3d;
  font-size: 12px;
  line-height: 25px;
  color: #626262;
}
footer .link ul li .txtArea .title {
  font-size: 18px;
  line-height: 26px;
  color: #fff;
}

.board {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 1000px;
  height: 82px;
  background-color: #fff;
}
.board .title {
  padding-right: 15px;
  margin: 0 15px 0 35px;
  background: url(./image/bar_board.jpg) right center no-repeat;
  font-size: 16px;
  line-height: 82px;
  color: #2c2c2c;
}
.board .bd {
  display: flex;
  width: 50%;
  height: 82px;
  box-sizing: border-box;
}
.board .bd .bd-left {
  border-right: 1px solid #e1e1e1;
}
.board .list {
  overflow: hidden;
  width: 400px;
  height: 42px;
  margin: 20px 0;
  font-size: 14px;
  line-height: 42px;
  color: #888;
  position: relative;
}
.board .list ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.board .list ul li {
  width: 100%;
  height: 42px;
}
.board .bd-left {
  border-right: 1px solid #e1e1e1;
}