html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    max-width: 1920px;
    height: 100%;
    overflow: hidden;
    background: url(./image/backimg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-c {
    align-items: center;
}

.just-c {
    justify-content: center;
}

img {
    vertical-align: top;
}

header {
    position: fixed;
    left: 10%;
    top: 5%;
}

header h1 img {
    width: 50%;
}

header p {
    color: #601986;
    font-size: 30px;
    font-weight: normal;
}

main {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid #000;
}

.main-content {
    width: 800px;
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 99;
}

main .video video {
    width: 100%;
    border: 1px solid #fff;
}

.menu li {
    width: 150px;
    border: 1px solid #fff;
    list-style: none;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.menu li a {
    font-size: 20px;
    color: #fff;
}

.main-visual {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 200px;
    margin-top: -200px;

}

.main-visual img {
    width: 100%;
    vertical-align: top;
}

#sec1 {
    position: absolute;
    width: 818px;
    height: 481px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#sec1 figure {
    display: none;
}

#sec1 span {
    display: block;
    position: absolute;
    background: #000;
}

span.top {
    width: 0%;
    height: 5px;
    left: 0;
    top: 0;
}

span.right {
    width: 5px;
    height: 0%;
    right: 0;
    top: 0;
}

span.bottom {
    width: 0%;
    height: 5px;
    right: 0;
    bottom: 0;
}

span.left {
    width: 5px;
    height: 0%;
    left: 0;
    bottom: 0;
}

a.close {
    position: absolute;
    right: 0;
    top: -64px;
}