@import url(/reset.css);
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
img {
  background-repeat: no-repeat;
  background-position: cover;
}

body {
  font-family: "GmarketSansMedium";
  width: 100%;
  background: #fff;
  overflow-x: hidden;
}

.sec1 {
  position: relative;
}
.sec1 H2 {
  position: absolute;
  top: 20%;
  left: 20%;
  color: #fff;
  font-size: 100px;
}
.sec1 p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 18px;
  font-family: "GmarketSansMedium";
  font-weight: 500;
}

.slide-conainer {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  min-width: 100%;
}
.slide-conainer .left-container {
  width: 50%;
  position: relative;
  overflow: hidden;
}
.slide-conainer .left-container .vslide-wrap {
  width: 100%;
  position: absolute;
  top: -100%;
}
.slide-conainer .left-container .vslide-wrap .vslide-container {
  width: 100%;
  height: 100vh;
  position: relative;
}
.slide-conainer .left-container .vslide-wrap .vslide-container .vslide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.slide-conainer .left-container .vslide-wrap .vslide-container .vslide:first-child {
  display: block;
}
.slide-conainer .left-container .vslide-wrap .vslide-container .vslide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slide-conainer .right-container {
  width: 50%;
  position: relative;
  overflow: hidden;
}
.slide-conainer .right-container .rslide-wrap {
  position: absolute;
  left: -100%;
  display: flex;
  width: 300%;
}
.slide-conainer .right-container .rslide-wrap .rslide-container {
  flex: 1;
  height: 100vh;
  padding-top: 80px;
}
.slide-conainer .right-container .rslide-wrap .rslide-container .hslide-wrap {
  margin: 0 auto;
  padding-top: 100px;
  height: 160px;
  width: 680px;
  position: relative;
}
.slide-conainer .right-container .rslide-wrap .rslide-container .hslide-wrap .hslide {
  opacity: 0;
  position: absolute;
  transition: 0.5s;
  left: 0;
  top: 0;
  line-height: 2;
  text-align: right;
  padding: 0 25px;
}
.slide-conainer .right-container .rslide-wrap .rslide-container .hslide-wrap .hslide h2 {
  font-size: 25px;
  font-family: "GmarketSansMedium";
  font-weight: 800;
}
.slide-conainer .right-container .rslide-wrap .rslide-container .hslide-wrap .hslide h4 {
  font-weight: 100;
}
.slide-conainer .right-container .rslide-wrap .rslide-container .hslide-wrap .hslide.on {
  opacity: 1;
}
.slide-conainer .right-container .rslide-wrap .rslide-container.rslide2 {
  background-color: #FF1493;
  color: #fff;
}
.slide-conainer .right-container .rslide-wrap .rslide-container.rslide3 {
  background-color: #000;
  color: #fff;
}
.slide-conainer .right-container .rslide-wrap .rslide-container .islide-wrap {
  display: flex;
  gap: 10px;
  margin-top: 200px;
}
.slide-conainer .right-container .rslide-wrap .rslide-container .islide-wrap .islide {
  cursor: pointer;
  filter: grayscale(1);
}
.slide-conainer .right-container .rslide-wrap .rslide-container .islide-wrap .islide.on {
  filter: grayscale(0);
}
.slide-conainer .right-container .rslide-wrap .rslide-container .islide-wrap .islide img {
  width: 100%;
}

button {
  position: absolute;
  top: 90%;
  transform: translateY(-50%);
  z-index: 999;
}
button.next {
  right: 0;
}
button.prev {
  left: 0;
}