body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

figure.video {
    position: fixed;
    width: 100%;
    height: 100%;
}

figure.video video {
    width: 100%;
    min-width: 1680px;

}

header {
    position: fixed;
    height: 100%;
    width: 800px;
    left: -600px;
    top: 0;
    background-image: linear-gradient(to left bottom, #fff300, #fcdc00, #f6c600, #eeb100, #e49c0c, #e38e03, #e18000, #de7200, #e66400, #ee5200, #f73a00, #ff0000);
    transform: skewX(-40deg);
}

h1{
    position: absolute;
    top: 0px;
    right: -400px;
    transform:skewX(40deg);
}
h1 img{
    width: 50%;
}
/*부모 header를 skew 해서 nav를 왼쪽에서 오른쪽으로 위치 하기 위해*/
nav {
    position: absolute;
    right: 0;
    top: 100px;
}

/*a는 inline 요소에서 width:100% 아니다, hover 시에 전체영역에 배경색이 적용이 안되기 때문에*/
nav a {
    display: block;
    font-size: 18px;
}

/*부모 a의 영역이 hover skew 되어 있어 좋은데 글자까지 기울여서 b 태그로 쌓았는데 liline 요소는 transform이 적용이 안됨*/
nav b {
    display: block;
    font-weight: normal;
    transform: skewX(40deg);
}

li.main-menu {
    position: relative;
}

/*메인 메뉴에 있는 a 값만[서브메뉴에 a는 제외]*/
li.main-menu>a {
    padding: 10px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, .2);
}

li.main-menu:hover>a {
    background: #000;
    color: #fff;
    font-weight: bold;
}

ul.sub-menu {
    position: absolute;
    width: 200px;
    background: rgba(255, 255, 255, .5);
    left: 150px;
    top: 0;
    display: none;
}

li.main-menu:hover ul.sub-menu {
    display: block;
}

ul.sub-menu li a {
    padding: 5px 10px 5px 20px;
}

ul.sub-menu li:hover a {
    background: #555;
    color: #fff;
}


.btn {
    position: absolute;
    bottom: 10px;
    left: -30px;
    font-size: 80px;
    color: #fff;
    width: 200px;
    height: 100px;
    transform: skewX(40deg);
    transition: .35s;
}

.btn i {
    position: absolute;
    animation: btn-ani 1s linear infinite;
}

.btn i :nth-child(1) {
    animation-delay: 0s;
}

.btn i :nth-child(2) {
    animation-delay: 0.1s;
}

.btn i :nth-child(3) {
    animation-delay: 0.2s;
}

@keyframes btn-ani {
    from {
        opacity: 0;
        left: 0;
        transform: scale(.8);
    }

    to {
        opacity: 1;
        left: 180px;
        transform: scale(1);
    }
}

.item {
    position: absolute;
    left: -500px;
    bottom: 10%;
    animation:scale-up-top .4s cubic-bezier(.39, .575, .565, 1.000) both
    
}

@keyframes scale-up-top {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}

@keyframes scale-up-top {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}





.item img {
    transform: skewX(40deg);
}

aside {
    position: fixed;
    height: 100%;
    width: 800px;
    right: -800px;
    bottom: 0;
    background-image: linear-gradient(to left bottom, #fff300, #fcdc00, #f6c600, #eeb100, #e49c0c, #e38e03, #e18000, #de7200, #e66400, #ee5200, #f73a00, #ff0000);
    transform: skewX(-40deg);
    transition: .35s;
    cursor: pointer;
}

.brand {
    position: absolute;
    left: 10%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    transition: .35s;
}

aside:hover {
    right: -600px;
}

aside:hover .brand {
    left: 5%;
}

aside:hover .item {
    opacity: 0;
}

aside:hover .btn {
    left: 100%;
}

.brand ul li {
    transition: .35s;
    transform: translateX(600px);
}

aside:hover .brand ul li {
    transform: translateX(0px);

}

aside:hover .brand ul li:nth-child(1) {
    transition-delay: 0s;
}

aside:hover .brand ul li:nth-child(2) {
    transition-delay: .1s;
}

aside:hover .brand ul li:nth-child(3) {
    transition-delay: .2s;
}


.brand ul {
    position: absolute;
    bottom: 40px;
    left: 40px;
}


figure.banner {
    border: 1px solid #000;
    overflow: hidden;
}

.brand ul li img {
    vertical-align: top;
    height: 70px;
    transform: skewX(40deg) scale(2);
    border: 1px solid #000;

}

.brand h3 {
    color: #000;
    transform: skewX(40deg);
    padding: 10px;
}

.brand ul li {
    transition: .3s;
    transform: translateX(600px);
   
}