@import url(/reset.css);
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #333;
}

figure.video {
  width: 100%;
  height: 100%;
  position: fixed;
}
figure.video video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

section.list {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
}
section.list article {
  flex: 1;
  height: 100%;
  text-align: center;
  position: relative;
  color: #fff;
  line-height: 2.5;
  transition: 0.35s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.list article:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.5019607843);
}
section.list article:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
section.list article:hover .title h2 {
  color: rgb(39, 98, 236);
  -webkit-text-stroke: 0px;
  mix-blend-mode: difference;
  filter: brightness(5);
  text-shadow: 0px 0px 15px #fff;
}
section.list article:hover .content {
  transform: translateY(0%);
  opacity: 1;
}
section.list article .title h2 {
  color: transparent;
  font-size: 60px;
  -webkit-text-stroke: 0.5px white;
}
section.list article .content {
  margin-top: 30px;
  opacity: 0;
  transform: translateY(100PX);
  transition: 0.5s;
}
section.list article .content p {
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
}
section.list article .content .btn {
  font-size: 17px;
  color: #ffedd3;
  text-transform: uppercase;
  position: relative;
  margin-top: 30px;
  transition: 0.5s ease;
}
section.list article .content .btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #5675bf;
  transition: 0.5s ease;
}
section.list article .content .btn:hover {
  color: #1e1e2b;
  transition-delay: 0.5s;
}
section.list article .content .btn:hover::before {
  width: 100%;
}
section.list article .content .btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #5675bf;
  transition: 0.4s ease;
  z-index: -1;
}
section.list article .content .btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}
section.list article .content .btn a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.3em 1.5em;
}

.frame {
  position: absolute;
  top: 100%;
  width: 100%;
  background: #fff;
  transition: 0.5s linear;
}